ion-Avatar{
    margin-left: 40%;
    width: 90px !important; 
    height : 90px !important;
    margin-top: 10%;
}

ion-Icon{
    
    margin-left: 80%;
}

.Items{
    margin-top: 20%;
}


ion-item ion-icon{
    margin-left: 1px;
}