


ion-Img{
    
    height: 120px;
    object-fit: fill;
    margin-left: 3px;
    
}

ion-label{
    font-size: medium;
    margin-left: 30%;
    
}

h4{
    text-align: center;
}