ion-content{
  --background: #e2e6df;
  
}

#header{
  position: relative;
  padding: 50px 50px;
  background: #efbb10e9;
  border-radius: 0px 0px 30px 30px;
  bottom: 10px;
  padding-top: 40px;
  text-align: center;
}






